body{
	background-color:#AFEEEE; 
	text-align:center;
}

input{
	font-size: 3rem;
	margin-top: 2rem;
}

#result{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap:1rem;
	font-size: 2rem;
	background-color: #fff;
	margin: 2rem auto;
	width: 30rem;
	padding: 1rem;
	border-radius: 2rem;
}